name: nextcloud-spreed-signaling

env:
  source_proj: strukturag/nextcloud-spreed-signaling
  source_version: 2.1.0
  dest_repo:  ghcr.io/lnobach/nextcloud-spreed-signaling

on:
  push:
    branches:
      - '*'
    tags:
      - '*'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: ${{ env.source_proj }}
          ref: refs/tags/v${{ env.source_version }}
          path: build
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Github Packages
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Check if image already built
        run: set +e; docker manifest inspect $dest_repo:$source_version > /dev/null; echo "image_exists=$?" >> $GITHUB_ENV
      - name: Patch dockerfile
        run: cp nextcloud-spreed-signaling/Dockerfile build/docker/server/Dockerfile
      - name: Build and push
        if: env.image_exists == 1
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: build
          file: build/docker/server/Dockerfile
          push: true
          tags: ${{ env.dest_repo }}:${{ env.source_version }}, latest
